<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li><a href="/">Go to onkunde</a></li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <div class="form">
            <h1>Er Heerst paniek</h1>
            <form action="{{ url_for('submit_formTwo') }}" method="POST">
                <div class="form-group">
                    <label for="question1">Welk dier zou je nooit als huisdier willen hebben?</label>
                    <input type="text" class="form-control" name="question1" id="question1" placeholder="Insert your answer">
                </div>
                <div class="form-group">
                    <label for="question2">Wie is de belangrijkste persoon in je leven?</label>
                    <input type="text" class="form-control" name="question2" id="question2" placeholder="Insert your answer">
                </div>
                <div class="form-group">
                    <label for="question3">In welk land zou je graag willen wonen?</label>
                    <input type="text" class="form-control" name="question3" id="question3" placeholder="Insert your answer">
                </div>
                <div class="form-group">
                    <label for="question4">wat doe je als je je verveelt</label>
                    <input type="text" class="form-control" name="question4" id="question4" placeholder="Insert your answer">
                </div>
                <div class="form-group">
                    <label for="question5">Met welk speelgoed speelde je als kind het meest?</label>
                    <input type="text" class="form-control" name="question5" id="question5" placeholder="Insert your answer">
                </div>
                <div class="form-group">
                    <label for="question6">bij welke docent spijbel je het liefst?</label>
                    <input type="text" class="form-control" name="question6" id=question6 placeholder="Insert your answer">
                </div>
                <div class="form-group">
                    <label for="question7">als je 100k.- had, wat zou je dan kopen?</label>
                    <input type="text" class="form-control" name="question7" id="question7" placeholder="Insert your answer">
                </div>
                <div class="form-group">
                    <label for="question7">wat is je favoriete bezigheid?</label>
                    <input type="text" class="form-control" name="question8" id="question8" placeholder="Insert your answer">
                </div>
                <button type="result_formtwo" class="btn btn-primary">Submit</button>
            </form>
        </div>
      </div> 
</body>
</html>
