<!DOCTYPE html>
<html>
<head>
	<title>Example Form</title>
</head>
<body>
	<form action="{{ url_for('view_form') }}" method="POST">
		<label for="examplequestion1">Example Question 1:</label><br>
		<input type="text" id="examplequestion1" name="examplequestion1"><br>

		<label for="examplequestion2">Example Question 2:</label><br>
		<input type="text" id="examplequestion2" name="examplequestion2"><br>

		<label for="examplequestion3">Example Question 3:</label><br>
		<input type="text" id="examplequestion3" name="examplequestion3"><br>

		<label for="examplequestion4">Example Question 4:</label><br>
		<input type="text" id="examplequestion4" name="examplequestion4"><br>

		<label for="examplequestion5">Example Question 5:</label><br>
		<input type="text" id="examplequestion5" name="examplequestion5"><br>

		<label for="examplequestion6">Example Question 6:</label><br>
		<input type="text" id="examplequestion6" name="examplequestion6"><br>

		<label for="examplequestion7">Example Question 7:</label><br>
		<input type="text" id="examplequestion7" name="examplequestion7"><br><br>

		<input type="submit" value="Submit">
	</form>
</body>
</html>
